host=jdbc:mysql://localhost:3306/KBBI
user=root
pass=






db_port=3306

db_username=root
db_password=
db_name=amm_support

max_process_counter=10
shutdown_secs=3590
stop_secs=3560

driver_path=D:/geckodriver/
driver_name=geckodriver.exe

gigapulsa_url=http://111.68.25.214:81/
gigapulsa_address=111.68.25.214
gigapulsa_port=81
gigapulsa_id=A3158
gigapulsa_nohp=+6281216711100
gigapulsa_pin=6513

auth_username=admin
auth_password=admin
sync_url=http://localhost/amm-product-sync/sync_harga_produk_gigapulsa.php
